@use 'variables' as v;

.card {
  background-color: v.$color-white;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: v.$bp-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 37.5rem;
  }
}

.card__image {
  height: 240px;
  background-image: url('../images/image-product-mobile.jpg');
  background-size: cover;

  @media (min-width: v.$bp-desktop) {
    background-image: url('../images/image-product-desktop.jpg');
    height: 100%;
  }
}

.card__content {
  padding: 28px 32px 32px;
}

.card__heading {
  margin-top: 17px;
}

.card__overline {
  color: v.$color-aurometal-saurus;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.card__description {
  margin-top: 24px;
}

.card__price-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.card__price {
  font-family: v.$heading-font;
  font-size: 2rem;
  color: v.$color-deep-aquamarine;
}

.card__price-previous {
  font-size: 0.8125rem;
  color: v.$color-aurometal-saurus;
  text-decoration: line-through;
  margin-left: 20px;
}

.card__button {
  margin-top: 20px;
}
