// Breakpoints (based off the default browser font size of 16px)
$bp-mobile: 23.4375em; // 640px
$bp-desktop: 90em; // 768px

// Fonts
$primary-font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif;
