@use 'variables' as v;

body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-rendering: optimizeSpeed;
  line-height: 1.62;
  font-family: v.$body-font;
  font-size: 0.875rem;
  font-weight: 500;
  color: v.$color-aurometal-saurus;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$heading-font;
  color: v.$color-gunmetal;
  font-weight: 700;
  margin-top: 0.7rem;
  line-height: 1;
  font-size: 2rem;
}

/* Paragraphs */
p {
  margin: 1rem 0 0;
}
